<!DOCTYPE html>
<html lang="en" id=root>
  <head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'/>
    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <meta
    name="description"
    content="Personal site for Hunter Kuffel"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.8.1"></script>

    <title>Hunter Kuffel</title>
  </head>
  <body class="transition-colors duration-500 ease-in-out bg-white dark:bg-navy">
    {% block content %}
    {% endblock content %}
  </body>
</html>